/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/
.atrasada{
  background: #ffcdd2;
}
.quase_atrasada{
	background-color: #00E676;
}
.completa td{
  background: #f9f9f9;
  color: #333;
  opacity: .5;
  cursor: not-allowed;
}
